@font-face {
    font-family: 'GT-Cinetype';
    src: url('Regular/GT-Cinetype-Regular.ttf');
}

@font-face {
    font-family: 'Apercu';
    src: url('Regular/apercu_regular_pro.otf');
}


@font-face {
    font-family: 'GT-Super';
    src: url('Regular/GT-Super.ttf');
}


@font-face {
    font-family: 'SinaNova';
    src: url('Regular/SinaNovaReg.ttf');
}

