@font-face {
    font-family: 'GT-Cinetype';
    src: url('Regular/GT-Cinetype-Regular.ttf');
}

@font-face {
    font-family: 'Apercu';
    src: url('Regular/apercu_regular_pro.otf');
}

@font-face {
    font-family: 'Mono';
    src: url('Regular/AlmaMono-Regular.ttf');
}
