*{
  margin: 0;
  padding: 0;
  color: #2C2C2C;
}

html{
  font-size: 16px;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  min-height: 100vh;
}

.container{
  display: flex;
  font-family: 'GT-Cinetype';
}

.container--title{
  flex: 1;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  img{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: .5rem;
  }
}

.container--img{
  background-color: #E4E4E4;
  height: 100vh;
  flex: 2;
  position: relative;

  img{
    position: absolute;
    bottom: 0;
  }
}



@media only screen and (max-width: 600px) {

  body{
    background-color: #e4e4e4;
  }

  .container{
    display: block;
  }

  .container--img{
    height: 100%;
    position: unset;

    img{
      max-width: 100%;
      bottom: 0;
    }
  }

  .container--title{

    img{
      bottom: -2rem;
    }
  }
  

}
