$padding--main: 4rem;
$padding--sub: 1rem;
$color--text: #2c2c2c;
$color--sun: #FF4503;

$fadeout: 2s;
$fadein: .2s;

*{
  margin: 0;
  padding: 0;
  color: $color--text;
}

html{
  font-size: 16px;
  font-family: 'GT-Cinetype';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  padding: $padding--main;
}

h1{
  font-size: 4vmax;
  padding-bottom: 1rem;
  font-weight: 400;
}

.half{
  max-width: 50%;

  p{
    margin-top: 1rem;
    font-size: 1.25rem;
    opacity: .9;
  }

  a{
    text-decoration: none;
    color: #FF4503;
    &:hover{
      border-bottom: 1px #FF4503 dashed;
    }
  }
}

.divider{ 
  border-top: 1px;
  border-color: #808080;
  border-style: dashed;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

// p{
// -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
// -moz-animation: fadein 1s; /* Firefox < 16 */
//  -ms-animation: fadein 1s; /* Internet Explorer */
//   -o-animation: fadein 1s; /* Opera < 12.1 */
//      animation: fadein 1s;
// }

// @keyframes fadein {
// from { opacity: 0; }
// to   { opacity: 1; }
// }

.post--container--header{
  display: flex;
  text-decoration: none;
}

.post--container{
  display: flex;
  text-decoration: none;

  p{
    transition: color $fadeout ease-in-out;
    -moz-transition: color $fadeout ease-in-out;
    -webkit-transition: color $fadeout ease-in-out;
    font-size: 1rem;
    opacity: .9;
  }

  &:hover p{
    transition: color .01s ease-in-out;
    -moz-transition: color .01s ease-in-out;
    -webkit-transition: color .01s ease-in-out;
  }

  &:hover .Sun {color: $color--sun }
  &:hover .CornflowerBlue{ color: cornflowerblue }
  &:hover .SlateGrey{ color: slategrey }
  &:hover .SlateBlue{ color: slateblue }
  &:hover .Navy{ color: navy }
  &:hover .RosyBrown{ color: rosybrown }
  &:hover .Orange{ color: orange }
  &:hover .SeaGreen{ color: seagreen }
  &:hover .DarkGoldenRod{ color: darkgoldenrod }
  &:hover .DarkRed{ color: darkred }
  &:hover .ForestGreen{ color: forestgreen }
  &:hover .OrangeRed{ color: orangered }

}

footer{
  bottom: 0;
  display: flex;
  flex-direction: row;

  a{
    text-decoration: none;
    margin-right: 1rem;
    border-bottom: none;
    opacity: .9;

    &:hover{
      border-bottom: 1px #FF4503 dashed;
      opacity: 1;
    }
  }
}

.mobile-only{
  display: none;
}

@media only screen and (max-width: 600px) {

  html{
    padding: 2rem;
  }

  .half{
    max-width: 100%;
  }

  .desktop-only{
    display: none;
  }

  .mobile-only{
    display: block;
  }

  .divider{ 
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .post--container{
    p{
      margin-top: 1rem;
    }
  }
  
}
